<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="icon" href="/public/styles/logoCrypto.jpg" type="image" />

    <title>CryptoMart | About</title>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <div class="welcomeabout">
        <h2>Welcome to CryptoMart</h2>
        <p>
          CryptoMart is a fabulous platform that allows you to get the current
          price of cryptocurrencies. As soon as you enter a base currency and a
          counter currency of your choice, you will get the current price.
        </p>
      </div>
    </main>
  </body>
  <%- include('footer') %>
</html>
